.navbar {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #fff;
  border-color: #000;
  color: $textColor;
}

.navbar-header {
  height: 83px;

  .navbar-brand {
    font-size: 40px;
    padding: 7px 10px 0 20px;

    img {
      width: auto;
      height: 62px;
    }
  }

}

.navbar-nav li {
 cursor: pointer;
}

.navbar-right {
  padding: 25px 50px;
}

.navbar-right li {
  margin: 0 10px;
}

.navbar-right li a{
  padding: 0;
}

.navbar-nav > li > a.btn, .navbar-nav > li > a.btn.active, , .navbar-nav > li > a.btn:active {
  border-radius: 0;
  padding: 5px 16px;
  background:none;
  color: $textColor;
}

.navbar-nav > li > a.btn:hover {
  border-radius: 0;
  // border: none;
  padding: 5px 16px;
  background:none;
  color: $textColor;
}