.home {
  position: relative;
  width: 100%;
  height: 100%;

  .header-wrapper {
    max-height: 83px;
  }

  .body-wrapper {
    position: absolute;
    top: 83px;
    bottom: 0;
    width: 100%;
    overflow: auto;

    .process-list-wrapper {
      width: 95%;
      margin: 0 auto;
      // min-height: 100%;
      overflow: hidden;
      background-color: #FAFAFA;

      .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none;
      }

      .tab-content {
        background-color: $secondary-color;
        // border: 1px solid #ddd;
        border-top: 0;
      }

      .nav-tabs {
        border-bottom: 0;
      }
    }
  }

  .sidebar {
    top: 83px;
  }


}
